@model RoutingNavigation.Areas.User.Models.UserLoginViewModel

@{
    ViewData["Title"] = "User Login";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <section  style="height:100%, background-color: #508bfc;">
  <div class="container py-5 h-100">
     <form asp-action="Login" asp-controller="Account" asp-area="User" method="post">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Login</h3>

            <div class="form-outline mb-4">
                 <input asp-for="Username" class="form-control form-control-lg" placeholder="Enter Username" />
                
                <span asp-validation-for="Username" class="text-danger"></span>             
            </div>

            <div class="form-outline mb-4">
                 <input type="password" asp-for="Password" class="form-control  form-control-lg" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
             
             
            </div>

            <!-- Checkbox -->
             <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block"  />
          

           
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
